  
  /* The Modal (background) */
  .modal-css {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 99; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    }
  
  /* Modal Content */
  .modal-content-css {
      background-color: #fefefe;
      margin: auto;
      padding: 50px;
      border: 1px solid #888;
      width: 80%;
    }
  
    /* The Close Button */
  .close-css {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      margin-top: -10px;
    }
    
    .close-css:hover,
  
    .close-css:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  
  .menu-link-container {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
  }
  
  .menu-h1 {
      text-align: center;
      font-size: 27px;
      padding-left: 15px;
  }
  
    .notice-modal-content {
      margin-top: calc(50vh - 85px);
      width: 50%;
  }
  
  .notice-modal-content {
      width: 70%;
  }
  
  .notice-modal-content {
      margin-top: calc(50vh - 100px);
  }
      
  .notice-modal-content {
      width: 90%;
  }

  .input50-div {
    width: 48%;
    float: left;
}

.second-input50 {
  margin-left: 4%;
}

.input50-div {
  width: 100%;
  float: none;
  margin-left: 0;
}
  